logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.kiro/
Benbol Terms & Agreement.docx
Benbol Terms & Agreement.pdf
Web Development Invoice \342\200\223 Notes & Terms (rizconect).pdf
~$nbol Terms & Agreement.docx
"Web Development Invoice \342\200\223 Notes & Terms (rizconect).pdf"